body{
    margin:0;
    padding:0;
    background: #3B4664;
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    color: #1E1E1E;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.display > .inputValue{
    width: 327px;
    height: 70px;
    border-radius: 12px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #D9D9D9;

}
#input{
    color: #FFF;
    text-align: right;
    font-family: Segoe UI;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right:20px;
}
.keypad{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:1px;
    width: 290px;
    height: 300px;
    border-radius: 12px;
    background: #252D44;
    padding:30px;
}
.buttons{
   
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap : 15px;
}
.btn{
    width: 60px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #000;
    background: #EAE3DB;
    color: #181F32;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.special-button{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
#reset{
    border-radius: 11.524px;
    background: #647299;
    width:150px;
    height: 50px; 
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
    color: #FFF;         
}
#reset.active{
    background-color: #FFFFFF;
    color: #331464;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}
#reset:hover{
    background-color:#8698c9;
    border-color:#556389;
    border-width: 5px;
}
#equal{
    border-radius: 11.524px;
    background: #c53222;
    width:150px;
    height: 50px; 
    text-align: center;
    font-family: Inter;
    font-size: 23.048px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
    color: #FFF;         
}
#equal.active{
    background-color: #FFFFFF;
    color: #5c1b1b;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}
#equal:hover{
    background-color:#ff6969;
    border-color:#971919;
    border-width: 5px;
}
button.btn {
    transition: all 0.03s linear;
}  
button.btn:hover {
    background-color:#c3c1c1;
    cursor: pointer;
    border-color:#676161;
    border-width: 3px;
}
button.btn:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}
